@page
@model AutoShop.Pages.Sales.ClientSalesModel
@{
}
<h2>Client sales</h2>
<table class="table" id="sales">
</table>
@section Scripts{
    <environment include="Development">

        <script src="~/node_modules\datatables.net\js\jquery.dataTables.js"></script>
        <script src="~/node_modules\datatables.net-bs\js\dataTables.bootstrap.js"></script>
        <link href="~/node_modules\datatables.net-bs\css\dataTables.bootstrap.css" rel="stylesheet" />



    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    </environment>
    <script>
        $(function () {

            $.ajax("/api/sales/", { method: "get" })
                .then(function (response) {
                    $("#sales").dataTable({
                        data: response,
                        columns: [
                            { "data": "id" },
                            { "data": "employee_id" },
                            { "data": "carmodel_id" },
                            { "data": "total_sale" }


                        ]
                    })
                });


        });

    </script>

    @*<script>
        $(function () {

            $.ajax("/api/sales/", { method: "get" })
                .then(function (response) {
                    console.dir(response)
                });
        });

        </script>*@


}