@page
@model AutoShop.Pages.Employees.ClientEmployeesModel
@{
    ViewData["Title"] = "ClientEmployees";
}

<h2>Client Employees</h2>
@section Scripts{
    <environment include="Development">
       


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    </environment>
    <script>
        $(function () {


            $.ajax("/api/employees/", { method: "get" })
                .then(function (response) {
                    console.dir(response)
                });
        });

    </script>


}
